<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trivia Game</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" type="text/css" href="./vanilla-toast.css">

  <style>
        /* Custom color theme */
        .bg-primary { background-color: #6B47DC; } /* Bright Purple */
        .bg-secondary { background-color: #47A3DC; } /* Electric Blue */
        .bg-background { background-color: #F9FAFB; } /* Light Gray */
        .text-text { color: #1A202C; } /* Dark Slate */
        .bg-highlight { background-color: #A3E635; } /* Lime Green */
        .bg-error { background-color: #DC4747; } /* Red */
    </style>
</head>

<body>
  <div class="flex border-b-4 border-gray-300 mx-4">
    <nav class="m-3 space-x-6 mx-auto">
      {{#if logged_in}}
      <a href="/leaderboard"><button class="bg-primary text-white py-2 px-6 rounded-lg hover:bg-secondary text-lg hover:border-4 hover:border-purple-300">Leaderboard</button></a>
      <button class="bg-primary text-white py-2 px-6 rounded-lg hover:bg-secondary text-lg hover:border-4 hover:border-purple-300 " id="logout">Log out</button>
      <a href="/"><button class="bg-primary text-white py-2 px-6 rounded-lg hover:bg-secondary text-lg hover:border-4 hover:border-purple-300 ">Home</button></a>
      {{else}}
       <a href="/login"><button class="bg-primary text-white py-2 px-6 rounded-lg hover:bg-secondary text-lg hover:border-4 hover:border-purple-300 ">Log In</button></a>
      {{/if}}
    </nav>
  </div>
  <div>
    {{{body}}}
  </div>
</body>
<script src="./js/logout.js"></script>
<script src="./vanilla-toast.js"></script>
</html>
